/*
Flexbox
*/

/*flex containers */
.flex-row{
    display: flex;
    flex-direction: row;
    height:100%;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
/* Flex items */
.flex-justify-center{
    justify-content: center;
}

/*
CSS Grid 
*/

/* Layouts */
.grid-layout-default{
    display: grid;
    grid-template-columns: 1 / 2;
    grid-template-rows: 5% 1fr 5%;
    height: 100%;
}
.grid-layout-horizontal-split{
display: grid;
height: 100%;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr;
}
/* Grid areas */
.grid-area-default-navbar{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.grid-area-default-content{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.grid-area-default-footer{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}
.grid-area-horizontal-split-top{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.grid-area-horizontal-split-bottom{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
/*Utility*/        